@{
    Layout = null;
}

<ul>
    <li id="fileName">Nombre: @ViewBag.nombre</li>
    <li id="fileType">Tipo: @ViewBag.tipo</li>
    <li id="fileLength">Tamaño en bytes: @ViewBag.peso</li>
    <li id="fileDate">Creado: @ViewBag.fecha</li>
    <li id="fileVersion">Version: @ViewBag.version </li>
    <li id="fileAutor">Autor: @ViewBag.autor </li>
</ul>
